@font-face {
    font-family: 'MSCHFSansMono';
    src: url('MSCHFSansMono.DOBS5JtI.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adjusted width to create a flush vertical line on left and right */
    width: 410px; 
}

h1 {
    font-family: 'MSCHFSansMono', monospace;
    color: #fff;
    font-size: 3rem;
    margin: 0 0 15px 0;
    width: 100%;
    text-align: center;
    letter-spacing: -1px;
    white-space: nowrap;
}

.clock-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.clock-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.label {
    color: #947F47;
    font-family: 'MSCHFSansMono', monospace;
    font-size: 1.5rem; /* 2/3 ratio */
    line-height: 1;
}

.time {
    color: #4f4f4f;
    font-family: 'MSCHFSansMono', monospace;
    font-size: 1.5rem; /* 2/3 ratio */
    line-height: 1;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
    .main-wrapper {
        width: 320px;
    }
    
    h1 {
        font-size: 2.3rem;
    }
    
    .label, .time {
        font-size: 1.1rem;
    }
}
